

h1 {
    font-size: 2.5rem;
    margin-bottom: 5px;
    color: #6562fd; 

}
p {
    font-size: 1.6rem;
    color: white;

    letter-spacing: 0.15rem;
    line-height: 1.2;
    font-weight: bold;
}
label {
    color: white;
    font-size: 1.8rem;

}
input[type="text"],
input[type="email"],
input[type="number"] {
    font-size: 1.2rem;

    border: none;
    border-bottom: 2px solid #6562fd;
    color: white;
    background-color: transparent;
    width: 100%;
    padding: 10px 5px 10px;
}
input[type="radio"], 
input[type="checkbox"]{
    display: inline-block;
    margin-right: 0.625rem;
    min-height: 1.25rem;
    min-width: 1.25rem;
}

input:focus {
    outline: none;
}

textarea {
    font-size: 1.2rem;
    resize: vertical;
    font-family: Arial;
    padding: 10px 5px 10px;
    border: none;
    margin: 5px 0;
    width: 100%;
    border-bottom: 2px solid #6562fd;
    color: white;
    background-color: transparent;
}

select {
    border: none;
    background-color: rgb(29, 29, 29);
    width: 100%;
    color: #fff;
    font-size: 1.2rem;
    letter-spacing: 0.15rem;
    font-family: Arial;
    padding: 10px 5px 10px;
}

select:focus {
    outline: none;
}
body {
    color: #fff;
    text-align: center;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    /* padding: 30px; */
}
header {
    margin: 30px auto 70px;
}
.btn {
    position: relative;
    border: none;
    border-radius: none;
   
    font-size: 1.4rem;
    letter-spacing: 0.25rem;
    font-weight: bold;
    background-color: #6562fd;
    color: #fff;
    padding: 10px;
    width: 100%;
    
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    cursor: pointer;
}



.btn::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #6562fd;
    top: 0;
    left: 0;
    z-index: -1;
  
    border-radius: 5px;
    opacity: 1;
}

.btn:hover::after {
    transform: scaleX(1.07) scaleY(2);
    opacity: 0;
}

form {
    position: relative;
}
label {
    display: block;
    margin-bottom: 10px;
}

.form-group {
    padding: 0px;
    margin: 30px 20px 40px;
    text-align: left;
}
.form-group p {
    margin-bottom: 15px;
}

.ring {
    position: absolute;
    width: 100px;
    height: 50%;
    border-radius: 20px; 
    padding:10px; 
    -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out; 
    mask-composite: exclude; 
    z-index: -1;
}


#container {
    max-width: 800px;
    margin: 60px auto;
    margin-top:10rem;
    padding: 0 30px;
    transition: .5s;
    transition-timing-function: ease-in-out;
    border-radius: 1rem;
    border:1px solid;
}
#camp-credit {
    position: fixed;
    width: 294px;
    text-align: right;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 14px 0px 7px;
    border: 1.5px solid black;
    border-bottom: none;
    border-radius: 10px;
    animation: getIn 1s backwards ease-in-out .25s;
}
#camp-credit span {
    /* display: block; */

    color: black;
    /* font-weight: 400; */
    left: 22px;
    top: 8.3px;
    position: absolute;
    font-size: 30.8px;
}

@keyframes getIn {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(100%);
    }

    80% {
        transform: translateX(-50%) translateY(-50%);
    }
    100% {
        opacity: 1;
    }
}
#clue {
    font-size: 1.2rem;
    color: rgb(167, 167, 167);
}
#ring1 {
    top: -20px;
    left: -20px;
    width: 50%;
    height: 50%;

}
#ring2 {

    bottom: -20px;
    right: -20px;
    width: 50%;
    height: 50%;
}
#survey-form {
    background-color: rgba(0, 0, 0, 0.685);
    padding: 10px 0;
}

@media (min-width: 700px) {
    html {
        font-size: 11px;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 13px;
    }
}

@media (max-height: 850px) {

    #camp-credit {
        display: none;
    }
}
.fileInput {
    width: '97%';
    margin: '10px 0';
  }
