body {
    margin: 0;
    font-family: "Nunito Sans",sans-serif;
    padding: 0 5rem;
    background: #0a0a0a;
    color: #fff;
    line-height: 1.4;
}

.header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    transition: all .4s;
    height: 80px;
    background: #0a0a0a;
    box-shadow: none;
    top:0
}
.header .wrapper{
    height: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .container{
    margin: 0 auto;
    width: 90%;
}

.header .wrapper ul{
    position: relative;
    font-weight: 600;
    font-size: 1.125rem;
    height: 100%;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}
.header ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 260px;
    font-weight: 600;
}
.header ul li{
    list-style-type: none;
    text-decoration: none !important;
    color:1F96A6;
    padding: 1rem;
    font-weight: 300;
    font-size: 1rem;
}

.header ul li a{

    text-decoration: none !important;
    color:#eee;
}

#footer{
    font-size: 1rem;
    font-weight: 300;
    color: #999;
    text-align: center;
    margin:0 0 1.5rem;
    padding: 1em;
}
.footer{
    padding: 1em;
}
.footer hr{
    color:#999
}
